
.blackHeader, .blackHeader button, .conteneur-modale h2, .admin-modifier button {
    font-family: Work Sans;
}

.blackHeader {
    background: #000;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white;
    gap:20px;    
}

.blackHeader button {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    margin-left: 15px;

}

.conteneur-modifier {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.admin-modifier.intro {
    margin-left: 60px;
    margin-top: 15px;
}

.admin-modifier {
    display: flex;
    margin-left: 30px;
    gap:10px;
    align-items: center;
    margin-bottom: 30px;
}

.admin-modifier button {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #FFFEF8;
}

.admin-modifier button:hover {
    font-weight: bold;
}

.admin {
    display: none;
}

.modale-admin {
    left: 0;
    top:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

.conteneur-modale::-webkit-scrollbar {
    width: 0;
}

.conteneur-modale {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    width: 620px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 35px;
    padding: 20px;
}

.conteneur-modale h2 {
    color:#000;
    font-weight: 400;
    font-size: 26px;
}

.gallery-modale {
    display: grid;
    grid-template-columns: repeat(5, 85px);
     grid-gap: 10px;
     align-items: center;
     justify-content: center;
}

.gallery-modale img {
    width: 100%;
    object-fit: cover;
}


.ajouter-photo, .button-valider {
    font-size: 14px;
    font-weight: 700;
    font-family: Syne;
    border-radius: 60px;
    border: none;
    width: 40%;  
}

.trait-seperation-modale {
    margin-top: 3%;
    width: 75%;
    height: 2px;
    background: #B3B3B3;
}

.suprimer, .ajouter-photo, .fermeture, .fa-trash-can {
    cursor: pointer;
}

.ajouter-photo, .button-valider {
    padding: 10px 50px;
    background-color: #1D6154;
    color: #fff;
}

.ajouter-photo:hover {
 background-color: #0E2F28;
}

.fa-trash-can {
    text-align: center;
    font-size: 10px;
    border-radius: 2px;
    color: white;
    background-color: #000;
}

.button-delete-work {
    border: none;
    background-color: #000;
    position: relative;
    top:-125px;
    right: -60px;
}


.modale-page2-image {
    border-radius: 3px;
    background: #E8F1F6;
    width: 420px;
    height: 170px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modale-page2-image i {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 65px;
    color :#B9C5CC;
}

.modale-page2-image button {
    border-radius: 50px;
    background: #CBD6DC;
    color: #306685;
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 25px;
    margin-bottom: 5px;
    border: none;
}
.modale-page2-image button:hover {
    font-weight: 700;    
}
.modale-page2-image p {
    font-size: 10px;
}
.formulaire-ajout {
    display: flex;
    flex-direction: column; 
    font-size: 16px;
    font-weight: 500;
}

.formulaire-ajout label {
    margin-top : 20px;
    margin-bottom: 15px;
}

#categorie-ajout, #title-ajout {
    background: #FFF;
    text-align: center;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    font-family: Work Sans;
    color: #3D3D3D;
    width: 420px;
    height: 50px;
    border: none;
}
#categorie-ajout cursor {
    padding-right: 20px;
}

.button-valider {
    background: #A7A7A7;
}

.button-interface {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 550px;
    font-size: 15px;
    margin-top: 10px;
}

.conteneur-modale.page1 .button-interface .fermeture {
    margin-right: -570px;

}